run = "bash run.sh"
entrypoint = "main.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"
pkgs = [
  "python310",
  "pip",
  "gunicorn"
]

[deployment]
run = ["sh", "-c", "bash run.sh"]
deploymentTarget = "cloudrun"

[languages.python]
pattern = "**/*.py"
syntax = "python"

[languages.python.languageServer]
start = ["pylsp"]

[env]
PYTHONUNBUFFERED = "1"

[[ports]]
localPort = 8080
externalPort = 80
